extends layout

block content
  //-
    h2 Creating a new server
    form(action="/servers/snitch", method="post")
      input(type="text", name="name")
      input(type="text", name="ip")
      input(type="text", name="restapi_branch")
      input(type="text", name="bravestorm_branch")
      input(type="text", name="status")
      input(type="submit")

  table
    tr 
      td
        img(src="/images/SnitchLogo.png" style='height: 120px;')
      td
        p(style='font-size: 22px') Dev server tattletale

  table(cellspacing='40px')
    tr
      td
        each server in group1_servers
          h2
            = server.name
          p
            = "<span>REST API branch:</span> " + server.restapi_branch
          p
            = "<span>Bravestorm branch:</span> " + server.bravestorm_branch

      td
        each server in group2_servers
          h2
            = server.name
          p
            = "<span>REST API branch:</span> " + server.restapi_branch
          p
            = "<span>Bravestorm branch:</span> " + server.bravestorm_branch
