extends layout

block content
  //-
    h2 Creating a new server
    form(action="/servers/snitch", method="post")
      input(type="text", name="name")
      input(type="text", name="ip")
      input(type="text", name="restapi_branch")
      input(type="text", name="bravestorm_branch")
      input(type="text", name="status")
      input(type="submit")

  table
    tr 
      td
        img(src="/images/SnitchLogo.png" style='height: 120px;')
      td
        p(style='font-size: 22px') Dev server tattle-tale

  table
    each server in group1_servers
      tr
        td
          h2
            = server.name
          p
            = "REST API branch: " + server.restapi_branch
          p
            = "Bravestorm branch: " + server.bravestorm_branch
    
    each server in group2_servers
      tr
        td
          h2
            = server.name
          p
            = "REST API branch: " + server.restapi_branch
          p
            = "Bravestorm branch: " + server.bravestorm_branch
