doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      setTimeout(function(){
        window.location.reload(1);
      }, 30000);

  body
    block content